/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

/* Varibales */

:root {
  --color-light-cyan: #cee3e9;
  --color-neon-green: #52ffa8;
  --color-grayish-blue: #4e5d73;
  --color-dark-grayish-blue: #323a49;
  --color-blue: #1f2632;
  --font-family: "Manrope", sans-serif;
}

/* Global */

html {
  font-size: 62.5%;
}

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-blue);
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--color-dark-grayish-blue);
  border-radius: 10px;
  width: 343px;
  padding: 4rem 2.4rem 6.4rem 2.4rem;
  text-align: center;
}

.divider-img-desktop {
  display: none;
}
