/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

/* Varibales */

:root {
  --color-light-cyan: #cee3e9;
  --color-neon-green: #52ffa8;
  --color-grayish-blue: #4e5d73;
  --color-dark-grayish-blue: #323a49;
  --color-blue: #1f2632;
  --font-family: "Manrope", sans-serif;
}

/* Global */

html {
  font-size: 62.5%;
}

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-blue);
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--color-dark-grayish-blue);
  border-radius: 10px;
  width: 343px;
  padding: 4rem 2.4rem 6.4rem 2.4rem;
  text-align: center;
  position: relative;
}

p {
  color: var(--color-neon-green);
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 3.457px;
  margin-bottom: 2.4rem;
}

h1 {
  color: var(--color-light-cyan);
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.divider-img-desktop {
  display: none;
}

button {
  background-color: var(--color-neon-green);
  border-radius: 50%;
  border: none;
  position: absolute;
  left: 50%;
  top: 90%;
  padding: 2rem;
  transform: translate(-50%, 0);
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 0px 40px 0px #53ffaa;
}

button img {
  display: block;
}

@media (min-width: 768px) {
  .card {
    width: 540px;
    padding: 4.8rem 4.8rem 7.2rem 4.8rem;
  }

  p {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2.8rem;
    margin-bottom: 4.8rem;
  }

  .divider-img-mobile {
    display: none;
  }

  .divider-img-desktop {
    display: block;
  }
}
